---
import Container from '@/components/Container.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import ContactSection from '@/components/ContactSection.astro'
import Uses from '@/components/Uses.astro'
import Hero from '@/components/Hero.astro'
import LatestPosts from '@/components/LatestPosts.astro'
import Speaking from '@/components/Speaking.astro'
import SectionSeparator from '@/components/SectionSeparator.astro'
import { HOME } from '@/lib/site'

export const prerender = true
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <Hero />
    <SectionSeparator />
    <LatestPosts />
    <SectionSeparator />
    <div class="grid gap-4 md:grid-cols-[2fr_1fr] md:items-stretch">
      <Speaking />

      <div class="flex flex-col gap-4">
        <Uses />
        <ContactSection />
      </div>
    </div>
  </Container>
</PageLayout>

<style>
  @media (min-width: 436px) and (max-width: 767px) {
    .arrow-sm-only {
      display: block;
    }
  }
</style>
