---
import HorizonWrapper from './HorizonWrapper.astro'
import Link from './Link.astro'

interface Props {
  categories: string[]
  currentCategory?: string | null
  pathname: string
}

const { categories, currentCategory, pathname } = Astro.props
---

<div class="text-muted-foreground mb-6 flex justify-center">
  <HorizonWrapper>
    <Link
      href={`/${pathname}`}
      class={`link-underline transition-colors duration-200 ease-in-out ${!currentCategory ? 'text-black link-underline-active' : 'hover:text-black'}`}>
      ALL
    </Link>
    {
      categories.map((cat) => (
        <Link
          href={`/${pathname}?category=${encodeURIComponent(cat)}`}
          class={`link-underline transition-colors duration-200 ease-in-out ${currentCategory?.toLowerCase() === cat.toLowerCase() ? 'text-black link-underline-active' : 'hover:text-black'}`}>
          {cat}
        </Link>
      ))
    }
  </HorizonWrapper>
</div>
