---
import HorizonWrapper from './HorizonWrapper.astro'
import Link from './Link.astro'
import { cn } from '@/utils/utils'

interface Props {
  categories: string[]
  currentCategory?: string | null
  pathname: string
}

const { categories, currentCategory, pathname } = Astro.props
---

<div class="text-muted-foreground mb-6 flex justify-center">
  <HorizonWrapper>
    <span class="text-muted-foreground">Categories:</span>
    <Link
      href={`/${pathname}`}
      class={cn(
        'transition-colors duration-200 ease-in-out',
        !currentCategory ? 'text-foreground' : 'hover:text-foreground'
      )}>
      all
    </Link>
    {
      categories.map((cat) => {
        const isActive = currentCategory?.toLowerCase() === cat.toLowerCase()
        return (
          <Link
            href={`/${pathname}?category=${encodeURIComponent(cat)}`}
            class={cn(
              'transition-colors duration-200 ease-in-out',
              isActive ? 'text-foreground' : 'hover:text-foreground'
            )}>
            {cat.toLowerCase()}
          </Link>
        )
      })
    }
  </HorizonWrapper>
</div>
