---
import Container from './Container.astro'
import { navLinks } from '@/lib/site'

const footerLinks = [{ href: '/', text: 'home' }, ...navLinks]
---

<Container>
  <footer class="mt-12 mb-4 sm:flex-row sm:gap-0">
    <div class="flex w-full flex-col items-start text-sm sm:w-2/3">
      <p>
        <strong>SITEMAP:</strong>

        {
          footerLinks.map((link, index, array) => (
            <span>
              <a
                href={link.href}
                class="text-muted-foreground hover:text-black uppercase"
                data-astro-prefetch>
                {link.text}
              </a>
              {index < array.length - 1 && ' / '}
            </span>
          ))
        }
      </p>
      <p>
        <strong>BUILT WITH:</strong>{' '}
        <a
          href="https://astro.build"
          target="_blank"
          rel="noopener noreferrer"
          class="text-muted-foreground -mr-1 hover:text-black">
          Astro
        </a>
        ,{' '}
        <a
          href="https://svelte.dev"
          target="_blank"
          rel="noopener noreferrer"
          class="text-muted-foreground -mr-1 hover:text-black">
          Svelte
        </a>
        ,{' '}
        <a
          href="https://www.typescriptlang.org"
          target="_blank"
          rel="noopener noreferrer"
          class="text-muted-foreground -mr-1 hover:text-black">
          TypeScript
        </a>
        ,{' '}
        <a
          href="https://tailwindcss.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-muted-foreground -mr-1 hover:text-black">
          Tailwind
        </a>
        , and lots of <span class="hover:animate-pulse">❤</span>
      </p>
    </div>
  </footer>
</Container>
