---
import Button from './Button.astro'
import Link from './Link.astro'
import ArrowSquiggle from '@/assets/icons/arrow-squiggle.svg'
import Image from 'astro/components/Image.astro'
import Me from '@/assets/images/chris.png'
---

<section
  class="relative mt-16 flex flex-wrap-reverse rounded-xl pb-4 text-base md:border sm:text-lg md:mt-30 md:mb-30">
  <div class="p-0 md:w-2/3 md:p-8">
    <h1 class="text-3xl md:text-4xl">
      <span class="font-bold">Hello</span>, I'm Chris Nowicki
    </h1>
    <p class="mt-3 text-lg md:text-xl">
      Developer Experience Engineer at
      <Link
        href="https://www.commerce.com"
        ariaLabel="Visit the Commerce website"
        target="_blank"
        class="text-muted-foreground hover:text-black"
        >Commerce.
      </Link>
    </p>

    <div class="mt-6 space-y-6 sm:space-y-8">
      <p>
        When I'm not making developers' lives easier with docs and dev tools,
        you'll find me tinkering with new tech, optimizing my productivity setup
        (<em>while keeping it minimal</em>), or hunting for the perfect
        cheeseburger.
      </p>

      <blockquote class="font-cursive relative text-2xl">
        <span class="relative inline-flex items-center">
          Oh, and coffee. Lots of coffee.
          <ArrowSquiggle
            width={45}
            height={45}
            class="arrow-sm-only absolute top-4 -right-12 hidden rotate-90 transform md:hidden"
          />

          <ArrowSquiggle
            width={45}
            height={45}
            class="absolute top-4 -right-12 bottom-0 hidden rotate-90 transform md:block"
          />
        </span>
      </blockquote>
    </div>

    <div class="mt-8 flex flex-col gap-3 md:flex-row md:gap-4">
      <Button
        href="/contact"
        size="lg"
        variant="default"
        class="bg-black text-center uppercase">Contact Me</Button
      >
      <Button
        href="https://buymeacoffee.com/chrisnowicki"
        variant="outline"
        target="_blank"
        size="lg"
        class="text-center uppercase">Buy Me A Coffee</Button
      >
    </div>
  </div>
  <div class="absolute -right-2 bottom-0 hidden md:block lg:-right-10">
    <Image src={Me} alt="Photo of me" loading="eager" width={300} class="w-[275px] lg:w-[300px]'" />
  </div>
</section>
