---
import { cn } from '@/utils/utils'
import { navLinks } from '@/lib/site'
import MobileNav from './Svelte/MobileNav.svelte'
import DesktopNav from './Svelte/DesktopNav.svelte'

export const prerender = false
const pathname = new URL(Astro.request.url).pathname.split('/')[1]
---

<div
  class="top-6 right-0 left-0 mt-6 flex w-full items-center justify-center pr-6 pl-4">
  <nav
    class={cn(
      'text-muted-foreground flex items-center justify-between rounded-full w-full max-w-4xl bg-white'
    )}
    style="transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s;">
    <a
      href="/"
      class="font-cursive group flex items-center overflow-hidden px-2 py-1 text-4xl text-black/90">
      <span class="inline-block transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:-rotate-6">C</span><span class="inline-block max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 ease-in-out group-hover:max-w-[140px]">hris</span><span class="inline-block max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 ease-in-out group-hover:max-w-[16px]">&nbsp;</span><span class="inline-block transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:rotate-6">N</span><span class="inline-block max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 ease-in-out group-hover:max-w-[140px]">owicki</span>
    </a>

    <DesktopNav {navLinks} {pathname} client:load />
    <MobileNav client:load />
  </nav>
</div>
