---
import { cn } from '@/utils/utils'
import { navLinks } from '@/lib/site'
import MobileNav from './React/MobileNav'

export const prerender = false
const pathname = new URL(Astro.request.url).pathname.split('/')[1]
---

<div class="mt-6 flex w-full items-center justify-center pr-6 pl-4">
  <nav
    class={cn(
      'text-muted-foreground flex items-center justify-between rounded-full w-full max-w-4xl bg-white'
    )}
    style="transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s;">
    <a
      href="/"
      class="font-cursive group inline-flex items-center overflow-hidden text-4xl text-slate-900">
      <span class="inline-block">C</span><span
        class="inline-block max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 ease-in-out group-hover:max-w-35"
        >hris</span
      ><span
        class="inline-block max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 ease-in-out group-hover:max-w-4"
        >&nbsp;</span
      ><span class="inline-block">N</span><span
        class="inline-block max-w-0 overflow-hidden whitespace-nowrap transition-all duration-300 ease-in-out group-hover:max-w-35"
        >owicki</span
      >
    </a>

    <ul
      class="hidden list-none gap-4 px-4 py-2 text-lg md:flex"
      aria-label="Desktop navigation">
      {
        navLinks.map(({ href, text }) => {
          const isActive = pathname === text.toLowerCase()
          return (
            <li>
              <a
                {href}
                class={cn(
                  'transition-colors duration-200 ease-in-out',
                  isActive ? 'text-black' : 'hover:text-black'
                )}
                aria-current={isActive ? 'page' : undefined}
                data-astro-prefetch>
                {text}
              </a>
            </li>
          )
        })
      }
    </ul>
    <MobileNav client:load />
  </nav>
</div>
