---
import { cn } from '@/utils/utils'
import { navLinks } from '@/lib/site'
import MobileNav from './Svelte/MobileNav.svelte'

export const prerender = false

const isOpen = false // Mobile menu state (to be implemented)
const pathname = Astro.url.pathname
---

<div
  class="top-6 right-0 left-0 mt-8 flex w-full items-center justify-center pr-6 pl-4">
  <nav
    class={cn(
      'text-muted-foreground flex items-center justify-between rounded-full w-full max-w-4xl bg-white',
      isOpen ? 'rounded-b-none border-b-0 shadow-none' : 'shadow-none'
    )}
    style="transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s;">
    <a
      href="/"
      class={cn(
        'font-cursive rounded-full border px-2 py-1 text-2xl transition-all duration-100 ease-in-out hover:scale-105 hover:-rotate-10 hover:shadow-lg',
        pathname === '/' || pathname === '' ?
          'border-blue-600 text-blue-600'
        : 'border-black/90 text-black/90'
      )}>
      CN
    </a>

    <ul
      class="hidden list-none gap-4 rounded-full border px-4 py-2 text-lg md:flex"
      aria-label="Desktop navigation">
      {
        navLinks.map(({ href, text }) => {
          const isActive = pathname === href
          return (
            <li>
              <a
                {href}
                class={cn(
                  'group transition-colors duration-200 ease-in-out hover:text-blue-600',
                  isActive ? 'text-blue-600' : 'text-black'
                )}
                aria-current={isActive ? 'page' : undefined}>
                {text}
              </a>
            </li>
          )
        })
      }
    </ul>
    <MobileNav client:load />
  </nav>
</div>
