---
---

<div class="pointer-events-none absolute inset-0 z-10 hidden md:block" aria-hidden="true">
  <div
    class="absolute top-0 bottom-0 border-l border-dashed border-slate-200"
    style="left: calc(50% - 28rem - 1.5rem);">
  </div>

  <div
    class="absolute top-0 bottom-0 border-l border-dashed border-slate-200"
    style="right: calc(50% - 28rem - 1.5rem);">
  </div>

  <div class="absolute left-0 right-0" style="top: 5.5rem;">
    <div class="h-px w-full border-t border-dashed border-slate-200"></div>

    <div class="frame-plus absolute top-0 -translate-y-1/2" style="left: calc(50% - 28rem - 1.5rem - 0.5rem);">
      <div class="relative h-4 w-4 bg-white">
        <div class="absolute top-1/2 left-0 h-px w-full -translate-y-1/2 bg-black"></div>
        <div class="absolute left-1/2 top-0 w-px h-full -translate-x-1/2 bg-black"></div>
      </div>
    </div>

    <div class="frame-plus absolute top-0 -translate-y-1/2" style="right: calc(50% - 28rem - 1.5rem - 0.5rem);">
      <div class="relative h-4 w-4 bg-white">
        <div class="absolute top-1/2 left-0 h-px w-full -translate-y-1/2 bg-black"></div>
        <div class="absolute left-1/2 top-0 w-px h-full -translate-x-1/2 bg-black"></div>
      </div>
    </div>
  </div>
</div>

<style>
  .frame-plus {
    display: none;
  }
  @media (min-width: 960px) {
    .frame-plus {
      display: block;
    }
  }
</style>
