---
import FramePlus from './FramePlus.astro'
---

<div class="pointer-events-none absolute inset-0 z-0 hidden md:block" aria-hidden="true">
  <div
    class="absolute top-0 bottom-0 border-l border-dashed border-border"
    style="left: calc(50% - 28rem - 1.5rem);">
  </div>

  <div
    class="absolute top-0 bottom-0 border-l border-dashed border-border"
    style="right: calc(50% - 28rem - 1.5rem);">
  </div>

  <div class="absolute left-0 right-0" style="top: 5.5rem;">
    <div class="h-px w-full border-t border-dashed border-border"></div>

    <FramePlus position="left" />
    <FramePlus position="right" />
  </div>
</div>
