---
import FramePlus from './FramePlus.astro'

interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div class:list={['relative z-20 w-screen -ml-[50vw] left-1/2 my-12 md:my-16', className]} aria-hidden="true">
  <div class="h-px w-full border-t border-dashed border-border"></div>

  <FramePlus position="left" />
  <FramePlus position="right" />
</div>
